*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background: linear-gradient(245.59deg ,#4d9559 0%, #38703d 28.53%, #133917 75.53% );
    background-repeat: no-repeat;
}

header {
    width: 100%;
}
.logo {
    color: #fff;
display: inline-block;
width: 50%;
margin-left: 50px;
font-size: 35px;
text-transform: uppercase;
margin-top: 20px;
}

nav{
    display: inline-block;
    font-size: 20px;

}

nav ul li {
    float: left;
    margin-left: 50px;
}

nav ul li a {
    display: inline-block;
    color: #fff;
    transition: .3s;
}

nav ul li a:hover {
    text-decoration: underline;
    color: rgb(67, 203, 67);
    margin-top: 5px;
}

main{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
}
main h5 {
    margin-bottom:75px ;
    font-size: 17px;
    color: #fff;
}

main span { 
    display: inline-block;
    margin-bottom: 10px;
    font-size: 25px;
    color: #fff;
}

main h1 {
margin-bottom: 25px;
font-size: 60px;
color: #fff;
font-family: "Permanent Marker", cursive;
}

main p {
    margin-bottom: 30px;
    font-size: 20px;
    color: #fff;
}

.btn_1 {
    padding-top:14px ;
    text-align: center;
    display: inline-block;
    margin-right: 25px;
    width: 120px;
    height: 33px;
    border: 0;
    border-radius:5px;
    border-radius:30px ;
    background-color: #4d9559;
    color: #fff;
    font-size: 14px;
    transition: all .55s ease;

}
.btn_1:hover  {

    background: transparent;
    border: 1px solid white;
transform: translateX(8px);
}



.btn_2 {
    padding-top:14px ;
    text-align: center;
    display: inline-block;
    width: 180px;
    height: 33px;
    border: 0;
    border-radius:30px;
    background-color:transparent;
    border: 1px solid white;
    color: #fff;
    font-size: 14px;
    transition: all .55s ease;
}

.btn_2:hover{
    background: #4d9559;
    border: 0;
    margin-left: 8px;
}


.img img {
    width: 130%;
    height: 50%;
}
.img {
    position: absolute;
    top: 20%;
    transform: translate(135%, -120px);
    
}

.icons{
    position: absolute;
    top: 35%;
    padding: 0 9%;
    right: 125%;
    
}

.icons i {
    margin: 12px 0 ;
    color: #fff;
    cursor: pointer;
    transition: all .55s ease ;

}

.icons i:hover {
    color: #4d9559;
    transform: translateY(4px);
}

.arrow{
    width: 45px;
    height: 40px;
    background-color: #4d9559;
    position: absolute;
    bottom: -45%;
    right:-150%;
    transition: all .55s ease;
    border-radius: 10px;
}
.arrow i {
    position: absolute;
    bottom: 26%;
    right:32%;    
    color: #fff;

}
.arrow:hover {
    background: transparent;
    border: 1px solid white ;
    transform: translateY(8px);

}

.arrow:hover i { 
    color: #a1ffb1;
}
